<div class="row">
    <div class="alert alert-danger col-sm-6 col-lg-4" ng-show="error">
        Admin dashboard
    </div>
</div>
<div class="row">

    <div ng-app="MyApp.admindashboard" ng-controller="DashboardAdminCtrl">
        <input type="button" value="Generate Table" ng-click="GenerateTable()" />
        <hr />
        <table cellpadding="0" cellspacing="0" ng-show="IsVisible">
            <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Country</th>
            </tr>
            <tbody ng-repeat="m in Customers">
            <tr>
                <td>{{m.CustomerId}}</td>
                <td>{{m.Name}}</td>
                <td>{{m.Country}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
